.togglable {
  cursor: pointer;
  color: #000000;
}

.noToggle {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  width: 30px;
  visibility: hidden;
}

.togglable-down,
.togglable-up {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  width: 30px;
}

.nodeElements {
  display: inline-block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.linked:hover {
  color: rgb(15, 49, 92);
}
